<div class="jumbotron center">
     <h1>Bienvenido a mi aplicacion</h1>
     <% if user_signed_in? %>
     #Hacer algo
     <%else %>
     <p>
      <%= link_to "Registrate", new_user_registration_path, class: 'btn btn-primary btn-lg'%>
     </p>
     <% end %>
</div>
